  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/"> <img src="http://placehold.it/200x50&text=LOGO" alt="LOGO"> </a> </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i> </a> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b class="fa fa-angle-down"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
          <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
    <!-- /.navbar-collapse --> 
  </nav>